body {
	margin-top:50px;
	background-color: #ace;
}

.panel {
	width: 960px;
	margin: auto;
	border: none;
}

.profile-img {
	margin-left: 200px;
	margin-top: 20px;
	width: 200px;
	height: auto;
	padding: 5px; 
	border: solid 1px #EFEFEF;
}

.profile-img:hover {
	cursor: pointer;
	border: solid 1px #CCC; 
	-moz-box-shadow: 1px 1px 5px #999; 
	-webkit-box-shadow: 1px 1px 5px #999; 
	box-shadow: 1px 1px 5px #999;
}

.intro {
	text-align: center;
	font-family: Montserrat,Helvetica,Arial,sans-serif;
	font-size: 1.2em;
}

.list {
	padding-left: 20%;
}

.attr {
	padding-left: 20%;
	list-style-type: none;
}

a:hover {
	text-decoration: none;
}

a.visited {
	text-decoration: none;
}

.panel-footer {
	font-size: 10px;
}

.divider {
	margin-top : 40px;
}

#my-list {
	font-size: 16px;
}

#my-list:hover {
	background: #18bc9c;
	color: #fff;
	font-size: 20px;
	transition: 0.5s;;
}